.u-handle {
    .header {
        margin-bottom: 12px;

        span.num {
            font-size: 22px;
            font-weight: 700;
        }
    }

    &-area {
        ::selection {
            color: red;
            background: yellow;
        }

        &-content {
            padding: 20px;
            font-size: 24px;
            text-align: center;
            letter-spacing: 4px;
            background: #FFF;
        }
    }

    &-result {
        padding: 20px;
        font-size: 14px;
        background: #F1F1F1;

        span {
            font-size: 20px;
            font-weight: 700;
            color: red;
        }
    }

    &-view {
        margin-top: 12px;
        font-size: 14px;

        .list {
            margin-bottom: 12px;

            span.title {
                margin-right: 12px;
                font-weight: 700;
            }
        }
    }
}
