.u-handle {
    ::selection {
        color: red;
        background: yellow;
    }
    
    &-area {
        font-size: 24px;
        letter-spacing: 4px;
        padding: 20px;
        background: #ccc
        
    }
}