.u-handle--relaiton-label {
    position: relative;
    .item {
        display: flex;
        text-align: center;
        height: 40px;
        line-height: 40px;
        margin: 20px;
        font-weight: bold;
        border-radius: 8px;

        .f1 {
            flex: 1;
            max-width: 200px;
            margin-right: 200px;
        }

        .cyan {
            background: #b5f5ec;
        }

        .blue {
            background: #bae7ff;
        }

        .active {
            color: #fff;
            background: #f5222d;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .line {
        padding: 0px;
        margin: 0px;
        line-height: 1px;
        background: red;
        position: absolute;
    }
}
