.m-high-fault {
    .ant-card-body {
        padding: 0 !important;
    }
    .content {
        display: flex;

        .result {
            background: #fcfcfc;
            width: 400px;
            padding: 12px 20px;
            max-height: calc(100vh - 138px);
            overflow: scroll;
            
            .title {
                border-bottom: 1px solid #f1f1f1;
                font-size: 16px;
                height: 50px;
                line-height: 50px;
                color: #333;
            }
        }
    }
}

.regulation {

    div {
        line-height: 24px;
        margin-bottom: 12px;

        span {
            background-color: blue;
            color: #fff;
            padding: 4px 8px;
            border-radius: 4px;
        }
    }
}