.m-tool-page {
    display: flex;
    
    .left {
        padding: 30px 40px;
        background: #fff;
        border-radius: 4px;
    }

    .content {
        position: relative;
        width: 348px;
        height: 645px;
        background-image: url("../../assets/img/flow.png");
        background-size: cover;

        .item {
            position: absolute;
            left: 112px;
            width: 136px;
            height: 61px;
            line-height: 61px;
            font-size: 16px;
            font-weight: bolder;
            text-align: center;
            cursor: pointer;
            border: 1px solid blue;
            border-radius: 14px;
            background: #fff;
            &:hover {
                color: red;
                border: 1px solid red;
            }
        }

        .active{
            color: red;
            border: 1px solid red;
        }
    }
    
    .right {
        flex: 1;
        padding: 20px;
        margin-left: 24px;
        background: #fff;
        border-radius: 4px;
    }
}