.m-tool-page {
    display: flex;

    .left {
        background: #FFF;
        border-radius: 4px;
    }

    .content {
        position: relative;
        width: 348px;
        height: 645px;
        padding: 0 80px;
        background-image: url("../../assets/img/flow.png");
        background-size: cover;

        .item {
            position: absolute;
            left: 112px;
            width: 136px;
            height: 61px;
            font-size: 16px;
            font-weight: bolder;
            line-height: 61px;
            text-align: center;
            cursor: pointer;
            background: #FFF;
            border: 1px solid blue;
            border-radius: 14px;

            &:hover {
                color: red;
                border: 1px solid red;
            }
        }

        .active {
            color: red;
            border: 1px solid red;
        }
    }

    .right {
        flex: 1;
        padding: 20px;
        margin-left: 24px;
        background: #FFF;
        border-radius: 4px;
    }

    .u-form {
        margin-bottom: 12px;
    }
}

// 数据预处理
.m-data-pre-process {
    .u-form {
        position: relative;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80%;

        .ant-row {
            min-width: 50%;
        }

        .f-0 {
            position: absolute;
            top: 0;
            right: -100px;
        }
    }

    .u-sample {
        display: flex;
        width: 80%;

        .u-sample-content {
            display: flex;
            flex: 1;

            span {
                line-height: 32px;
            }

            div {
                flex: 1;
            }
        }

        button {
            margin-left: 100px;
        }
    }

    .u-result {
        margin-top: 12px;

        &-view {
            display: flex;
            width: 100%;
            overflow: hidden;

            > div {
                flex: 1;
            }
        }
    }
}

// 训练模型
.m-training-model {
    .u-form {
        .ant-form {
            display: inline-flex;
        }
    }

    .u-view {
        display: flex;

        .u-view-left,
        .u-view-right {
            flex: 1;
            padding: 12px;
            margin: 2px;
            text-align: center;
            background-color: #F5F5F5;
        }
    }
}

.m-text-recognition {
    .header {
        display: flex;
    }

    .u-sample {
        display: inline-flex;
        width: 300px;
        margin-right: 12px;

        &-content {
            display: inline-flex;
            width: 200px;
            margin-right: 12px;

            span {
                line-height: 32px;
            }

            div {
                flex: 1;
            }
        }
    }
}
